.loaded{
  .panel{
    li{
      @include transition(background .2s ease, color .2s ease);
      a{
        @include transition(color .2s ease);
      }
    }
  }
}

  .center{
  top:50%;
  left:42%;
  }
  
    .left{
  top:50%;
  left:9%;
  }

      .right{
  top:50%;
  left:75%;
  }
  
.copyright{
  font-family: 'Source Sans Pro';
  font-size:1.0em;
  position: absolute;
  text-align:center;
  z-index:10;
  top:90%;
  left:44%;
  width:190px;
  height:0px;
  }
  
.panel{

  font-family: 'Source Sans Pro';
  font-size:1.3em;
  position: absolute;
  z-index:10;
  background:#23272A;
  width:400px;
  height:320px;
  margin:-110px 0 0 -100px;
  padding:20px;
  @include border-radius(4px);
  @include box-sizing(border-box);

  z-index:100;

  &.hide{
    display:none;
  }

  h1{
    font-size:1.8em;
    font-weight:700;
    text-align:center;
    //margin-bottom:10px;
    color:#99AAB5;
    margin-top:-4px;
  }

  .r-version{
    display:block;
    margin-bottom:7px;
    text-align:center;
    font-size:.75em;
  }

  h2{
    font-weight:400;
    font-size:.8em;
    margin-bottom:16px;
    text-align:center;
    line-height:1.3em;
  }

  li{
    font-size:1.1em;
    font-weight:400;
    text-align:center;
    height:34px;
    line-height:34px;
    background:#fff;
    margin-top:10px;
    color:#222;
    @include border-radius(4px);
    //@include transition(background .2s ease, color .2s ease);
    a{
      display:block;
      width:100%;
      height:100%;
      &:visited{
        color:#222;
      }
      color:#222;
      //@include transition(color .2s ease);
      span:after{
        font-family:'icomoon';
        margin-left:10px;
        vertical-align:top;
      }
    }


    .label,
    .svg-wrap{
      display:inline-block;
      vertical-align:top;
    }

    .svg-wrap{
      width:18px;
      height:34px;
      margin-left:6px;
      svg{
        fill:#222;
        width:100%;
        height:100%;
        @include transition(fill .2s ease);
      }
    }

    // &:nth-of-type(1) a span:after{
    //   content:"\e601";
    // }

    // &:nth-of-type(2) a span:after{
    //   content:"\e600";
    // }
    
    &:hover{

      background:#222;
      color:#fff;
      a{
        color:#fff;
      }
      
      svg{
        fill:#fff;
      }

    }

  }
}